Package: gg.gh0stbyte.antennagifdl
Name: AntennaGIFDL
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Download GIFs from Antenna Reddit Client
Maintainer: Gh0stByte
Author: Gh0stByte
Section: Tweaks
